
.text-justify{
	text-align: justify;
}

.no-margin{
	margin: 0px !important;
}
.no-margin-left{
	margin-left: 0px !important;
}
.no-margin-right{
	margin-right: 0px !important;
}
.no-padding{
	padding: : 0px !important;
}
.no-padding-left{
	padding-right:  0px !important;
}
.no-padding-right{
	padding-right: 0px !important;
}

.list-group-item{
	 margin-bottom: 0px;
	 border: 0px solid #ddd;
     border-bottom: 1px solid #ccc;
      padding: 10px 15px;
}


.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top:  1px solid #ccc;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0;
}

#profile {
    padding: 30px 10px;
    position: relative;
    text-align: center;
}
#profile .portrate {
    /*background-image: url("http://university.taylors.edu.my/sites/default/files/images/xabout-staff-professor-dato-dr-hassan-said.jpg.pagespeed.ic.ZLPlv7_S76.jpg");*/
    background-size: cover;
    border-radius: 50%;

    margin: 0 auto;
    /*height: 135px;
    width: 135px;*/
}

#profile .portrate .img-thumbnail{
	 border-radius: 50%;
	 height: 150px;
    width: 150px;
    border: 1px solid #ccc;

}

#profile .title h2 {
    font-size: 12px;
    font-weight: 300;
    margin: 20px 0 10px;
}
#profile .title h3 {
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
}

#profile .title p {
	margin-top: 15px;
	margin-bottom: 15px;
}

#profile ul.social {
    list-style: outside none none;
    padding-left: 0;
    margin-top: 0px;
}

#profile ul.social li {
    display: inline-block;
    font-size: 22px;
    margin-right: 14px;
}
#profile ul.social li a {
    color: #333;
    transition: all 0.3s ease-in-out 0s;
}
#profile ul li a:hover {
    color: #ea1e31;
}

.border-right-min-height{
	border-right: 1px solid #ccc;
	min-height: 900px;
}




#main{
	  margin-top: -300px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
}

#main .main-container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
}



.shortcuts {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
.shortcuts > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.shortcuts > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    position: relative;
    text-align: center;
    /*width: 100px;*/
}
.shortcuts > ul > li > a {
    background: rgba(0, 186, 139, 0.75) none repeat scroll 0 0;
    border-radius: 4px;
   /* box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);*/
    display: table-cell;
    height: 80px;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
    width: 80px;
}
.shortcut .shortcut-icon {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.shortcuts .shortcut-label {
    color: #656565;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
    text-align: center;
}
.shortcuts .circle {
    background-color: rgba(252, 252, 252, 0.8);
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    color: #25237a;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    right: -10px;
    text-align: center;
    text-shadow: none;
    top: -8px;
    width: 20px;
}





/************************************************/

#menu-button-subpage{
    background: #323232 none repeat scroll 0 0;
    display: block;
    height: 22px;
    text-align: center;
}
 
#menu-button-subpage, #menu-button-subpage-bottom i{
	color: #ffffff;
}

/*
#menu-button-subpage-bottom {
    background: #323232 none repeat scroll 0 0;
    display: block;
    height: 22px;
    text-align: center;
}*/



/***********************************************/








 #footer {
    background-color: #323232;
    color: #fff;
    font-family: "Roboto",Helvetica,Arial;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 36px;
    padding-top: 50px;
}












@media (min-width: 1200px) {
	.container {
	    max-width: 1024px;
	}
}

@media (max-width: 1024px) {

}

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 990px) {


	#main{
		  margin-top: -350px;
	}

	#profile .portrate .img-thumbnail {
	    height: 130px;
	}

	#profile ul.social li {
	    margin-right: 4px;
	}

}

@media (max-width: 767px) {
	#main{
	  margin-top: -400px;
	}

	#main{
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.border-right-min-height{
		border-right: 0px solid #ccc;
		min-height: 0px;
	}
	.list-group{
		display: none;
	}
/*	#menu-button-subpage-bottom
	{
		display: none;
	}*/

}

@media (max-width: 600px) {
}

@media (max-width: 420px) {
}

@media (max-width: 385px) {
}

.social .fa {
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    width: 27px;
}
.social .fa:hover {
    opacity: 0.7;
}
.social .fa-youtube {
    background: #bb0000 none repeat scroll 0 0;
    color: white;
}
.social .fa-google-plus {
    background: #d34836 none repeat scroll 0 0;
    color: white;
}
.social .fa-twitter {
    background: #55acee none repeat scroll 0 0;
    color: white;
}
.social .fa-envelope {
    background: #3b5998 none repeat scroll 0 0;
    color: white;
}
.social .fa-linkedin {
    background: #007bb5 none repeat scroll 0 0;
    color: white;
}
